# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtualenv
venv/
env/
ENV/
.venv/
.VENV/

# Pyenv
.python-version

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Flask/Django stuff:
instance/
.webassets-cache
scrapy.cfg

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pylint
pylint.json

# Environments
.env
.env.*
env.bak/
env.yaml/

# Local history for IntelliJ-based IDEs
.idea/

# Docker
*.log
docker-compose.override.yml

# Other
**/migrations/
debug.log
node_modules/
